version: '{build}'

install:
  - set QTDIR=C:\Qt\5.9.2\mingw53_32
  - set PATH_ORIG=%PATH%
  - set PATH=C:\MinGW\bin;C:\MinGW\msys\1.0\bin;%PATH%
build_script:
  - set BITBAYPATH=%cd%
  - cd C:\Libraries\boost_1_65_1
  - cd tools\build
  - .\bootstrap.bat gcc
  - .\b2.exe install toolset=gcc --prefix=C:\Libraries\boost_1_65_1\b2_mingw
  - cd ..
  - cd ..
  - set PATH=%PATH%;C:\Libraries\boost_1_65_1\b2_mingw\bin
  - b2 toolset=gcc --build-type=complete stage --with-system --with-filesystem --with-program_options --with-thread --with-chrono
  - cd %BITBAYPATH%
  - curl -fsSL -o db-6.2.32.NC.tar.gz http://download.oracle.com/berkeley-db/db-6.2.32.NC.tar.gz
  - 7z x db-6.2.32.NC.tar.gz -so | 7z x -si -ttar > nul
  - move db-6.2.32.NC db
  - cd db\build_unix
  - sh ../dist/configure --enable-mingw --enable-cxx
  - perl -i -pe 's/_tcsclen/_tcslen/m' ../src/os_windows/os_stat.c
  - make
  - cd ..
  - cd ..
  - curl -fsSL -o openssl-1.0.2n.tar.gz https://www.openssl.org/source/openssl-1.0.2n.tar.gz
  - 7z x openssl-1.0.2n.tar.gz -so | 7z x -si -ttar > nul
  - move openssl-1.0.2n openssl
  - cd openssl
  - sh ./config
  - make
  - cd ..
  - curl -fsSL -o miniupnpc-2.0.tar.gz http://miniupnp.free.fr/files/download.php?file=miniupnpc-2.0.tar.gz
  - 7z x miniupnpc-2.0.tar.gz -so | 7z x -si -ttar > nul
  - move miniupnpc-2.0 miniupnpc
  - cd miniupnpc
  - perl -i -pe 's/CC \?= gcc/CC = gcc/m' Makefile.mingw
  - copy C:\MinGW\msys\1.0\bin\echo.exe upx.exe
  - mingw32make.bat
  - cd ..
  - set PATH=C:\MinGW\bin;C:\MinGW\msys\1.0\bin;%QTDIR%\bin
  - qmake CICD=appveyor BOOST_INCLUDE_PATH=C:\Libraries\boost_1_65_1 BDB_INCLUDE_PATH=%cd%\db\build_unix OPENSSL_INCLUDE_PATH=%cd%\openssl\include BOOST_LIB_PATH=C:\Libraries\boost_1_65_1\stage\lib BDB_LIB_PATH=%cd%\db\build_unix MINIUPNPC_LIB_PATH=%cd%\miniupnpc OPENSSL_LIB_PATH=%cd%\openssl bitbay-qt.pro
  - make
  - cd release
  - windeployqt bitbay-qt.exe --no-translations --no-system-d3d-compiler --no-webkit2 --no-angle
  - dir
  - cd ..
  - 7z a bitbay-qt.zip release
artifacts:
  - path: bitbay-qt.zip
    name: bitbay-qt.zip
