language: cpp
os:
- osx
osx_image: xcode7.3
dist: trusty
compiler:
- clang
env:
  matrix:
  - QT=510 BREW=@5.10
install:
- '[ "$TRAVIS_OS_NAME" != osx ] || brew install boost || echo -'
- '[ "$TRAVIS_OS_NAME" != osx ] || brew install openssl || echo -'
- '[ "$TRAVIS_OS_NAME" != osx ] || brew install miniupnpc'
- '[ "$TRAVIS_OS_NAME" != osx ] || brew install qt$BREW'
- '[ "$TRAVIS_OS_NAME" != osx ] || brew link --force qt$BREW'
- qmake -v
before_script:
- '[[ "$TRAVIS_OS_NAME" != osx   || "$CXX" != clang++ ]] || export QMAKESPEC=macx-clang'
- cd "$TRAVIS_BUILD_DIR"
- qmake "CICD=travis_mac" bitbay-qt.pro
script:
- cd "$TRAVIS_BUILD_DIR"
- curl -fsSL -o db-4.8.30.NC.tar.gz http://download.oracle.com/berkeley-db/db-4.8.30.NC.tar.gz
- tar -zxf db-4.8.30.NC.tar.gz
- mv db-4.8.30.NC db
- cd db
- patch dbinc/atomic.h < ../doc/mac_db-4.8_atomic.patch
- cd build_unix
- CFLAGS="-mmacosx-version-min=10.9" CXXFLAGS="-mmacosx-version-min=10.9" sh ../dist/configure --enable-cxx --prefix=`pwd`/inst
- make -j2
- make install
- cd ..
- cd ..
- make -j2
- cd src
- make -j2 -f makefile.osx
- cd ..
- cp src/bitbayd BitBay-Wallet-Qt.app/Contents/MacOS/
- macdeployqt BitBay-Wallet-Qt.app -verbose=2 -executable=BitBay-Wallet-Qt.app/Contents/MacOS/bitbayd
- otool -L BitBay-Wallet-Qt.app/Contents/MacOS/BitBay-Wallet-Qt
- otool -L BitBay-Wallet-Qt.app/Contents/MacOS/bitbayd
- install_name_tool -change /usr/local/Cellar/openssl/1.0.2l/lib/libcrypto.1.0.0.dylib @executable_path/../Frameworks/libcrypto.1.0.0.dylib BitBay-Wallet-Qt.app/Contents/Frameworks/libssl.1.0.0.dylib
- ls
- zip -r bitbay-wallet-qt_mac.zip BitBay-Wallet-Qt.app
deploy:
  provider: releases
  api_key:
    secure: HjYrssBPHzUv9nGC/NOwgSpVfEihPVg2o6gMeEk18sD3Cxe3f9pYZq9HMWwT4Iwf7rlnIvYnUtYxWHiffYllrf9+aSmCVHZQBldqCwM0Rq4csZebaXi36je5GrKlGzIHofe3u0Mo+9GqUNNcnS1vL1ENzVxesFl8qLCKKO21SE9GTvQ0Yp05LARjfRJ6YA4Pxbu1wZsWjQFgOfddSoStKcdEx9oH1myjouo0S+EPOkkFR/yfTlTxPxVdFHJBD6oE62y4RNEg22d7HTQE30BTE4KHmkqooanPkFevIWpTyG+1yDbA1RDsB+ajkyZZ9HBgF0J2R2soUqb7oJzTnTxzrcByz6sIoAtQiqpSABdIwkqzVhMb/McyLF6081/TWf8rh8iPLw3zsocI/ebbgXCaOJlT8uaVbQKbOoV3nyFen/ubtuz1RjFBwZ8MpyFGez6Gsu3flGIdGRMHBz/KjDknLOwV2JArpPZ/8sdryWIcPc1itZ/pYnfQZBhnem4uLCsLDndfRBh9YmDyXyNdZHa6tUI4hW1yRUW8Fb/yuo3kSKgkgHJpi1JCWJkWTlpzfW+1ulGv0FLtJihojgj3XtuEZPySZmLEam/wiDZvRd7hVh69SXfy5lCwLBWa3p1JGRbQZ5qN4y6YzeyKn9NLwCyC5HPGHhCaHw9hyfF9UMr2BXs=
  file: $TRAVIS_BUILD_DIR/bitbay-wallet-qt_mac.zip
  skip_cleanup: true
  on:
    tags: true
